<!doctype html>
<html>

  <head>
    <title> Login </title>
    <center><h1>Login Here:</h1></center>
  </head>

  <body>
    <center>
      {{ message }}
      <br>
      <br>
      <form action = "/authenticate/" method = "POST">
	     Username: <input type = "text" name = "user"> <br> <br>
       Password: <input type = "password" name = "password"> <br> <br>
	     <input type = "submit" value= "Submit"> 
      </form>
      <br>
      Don't have an acccount? 
      <br>

      <form action="/register/" method = "GET">
        <input type="submit" value = "Register here" />
      </form>
  </body>

</html>
